@import "../../Styles/style.scss";

.container {
  padding: 10px 50px 15px 50px;
}

.navbar {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  display: flex;

  .navbar_category {
    display: flex;
    padding-left: 50px;
    a {
        padding-right: 30px;
        padding-left: 30px;
    }
  }
}
